header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.mainlogo{
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    left: 15px;
    border-radius: 50px;
}

.menu {
    display: flex;
    list-style: none;
    background-color: #87ceeb;
    position: absolute;
    right: 40px;
    margin-top: -10px;
    padding: 0;
    border-radius: 30px;
    height: 30px;
    align-items: center;
}

.menu-item {
    border: 5px solid #87ceeb;
    border-radius: 30px;
    padding: 0 35px;
    text-transform: capitalize;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #17ceeb;
    border: 5px solid #17ceeb;
}

.menu-item:active {
    background-color: #107483;
    border: 5px solid #107483;
    color: white;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 70px;
    height: 600px;
}

.promos-item {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    margin-top: 10px;
    border-radius: 30px;
    background-color: rgb(234, 233, 233);
    border-radius: 5px;
    height: 400px;
    width: 13%;

}

.header-promo {
    display: flex;
    text-transform: none;
}

.imagen {
    display: flex;
    width: 100%;
    height: 25%;
    margin-top: 60px;;
    background-size:contain;
    background-repeat: no-repeat;

}

footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 98%;
    padding: 0;
    border-top: 2px solid black;
}
